body{
  background-color: #d9b38c;
  font-family: Arial, helvetica, sans-serif;
}

/*COMPANY NAME*/

h1{
  background-color: #3bb9ff;
border: 4px dotted #1589ff;
  border-radius: 4px;
  padding: 20px;
  text-transform: none;
  color: #ffffff;
  text-aligan: center;
}

h3 { 
background-color: white;
  padding: 10px 5px 3px 20px; 
}
  /*COMPANY NAME*/

#slogan { 
font-size: 26px;
  font-weight: 500;
  text-aligan: center;
  font-style: itali
}


img{
  margin: 20px 0 20px 0; 
}

td{
  padding-left: 30px
}

td{
  padding-left: 30px;
}

.title{
  border-radius: 5px 5px 0 0;
  font-weight: 300;
}

footer {
  background-color:  lightgrey; 
}
  
#ingredients {
  background-color:#f9f9f9;
  border-radius: 5px;
   
}

#instructions {
  background-color: #ff8a80;
  border-radius: 5px;
}


#nutrition {
  background-color: #f9f9f9;
  border-radius: 5px;
}

#win {
  background-color: orange;
}

/* FOOTER DETALIS*/ 

footer {
  background-color:  lightgrey; 
}

*/
  
  
  